.product-item {
  height: 380px;
  cursor: pointer;
  margin-bottom: 20px;
}
.product-item::after {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  pointer-events: none;
  content: "";
  border: solid 2px rgba(235, 235, 235, 0);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product {
  width: 100%;
  height: 320px;

  .product_image {
    width: 100%;
  }
  .product_image {
	-webkit-transition: transform 0.6s ease;
    -o-transition: transform 0.6s ease;
    -moz-transition: transform 0.6s ease;
    transition: transform 0.6s ease;
    .img {
      width: 100%;
    }
	&:hover{
		transform: scale(1.1);	
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
  }
  .product_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product_name {
    margin-top: 27px;
  }
  .product_name a {
    color: #1e1e27;
    line-height: 20px;
  }
  .product_name:hover a {
    color: #b5aec4;
  }
  .discount .product_info .product_price {
    font-size: 14px;
  }
  .product_price {
    font-size: 16px;
    color: #fe4c50;
    font-weight: 600;
  }
  .product_price span {
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
  }
  .product_bubble {
    position: absolute;
    top: 15px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .product_bubble span {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }
  .product_bubble_right::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid;
  }
  .product_bubble_left::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    bottom: -6px;
    border: 6px solid;
  }
  .product_bubble_red::after {
    border-color: transparent transparent transparent #fe4c50;
  }
  .product_bubble_left::after {
    border-color: #51a042 #51a042 transparent transparent;
  }
  .product_bubble_red {
    background: #fe4c50;
  }
  .product_bubble_green {
    background: #51a042;
  }
  .product_bubble_left {
    left: 15px;
  }
  .product_bubble_right {
    right: 15px;
  }
}
.add_to_cart_button {
  width: 100%;
  height: 40px;

  background: #087b25;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fe4c50;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 2px 3px 2px #ccc;
    background: #0d7c32;
  }
  .btn-text {
    font-size: 14px;
    font-weight: 600;
    color: white;
  }
}
